
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@ViewBag.name</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Chenda</td>
            <td>011397580</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rachna</td>
            <td>088893344</td>
        </tr>
    </tbody>
</table>

